@color: purple;

h1 {
	color: @color;
}

@media (max-width: 50px){
	.combine {
		width: 20px;
		transition: transform 1s;
	}
}

.flex {
	display: flex;
}

@media (max-width: 50px){
	.flex {
		width: 20px;
	}
}

th, td {
	border: 1px solid grey;
	padding: 10px;
}