{{>top}}
<div class="wrapper">
	<h1>Entering God Mode</h1>
</div>

<div class="wrapper">
	<div class="card">
		<div class="card--header">
			<h2 class="card--heading">All Sites</h2>
			<h2 class="card--heading_sub">Every single site</h2>
		</div>
		<div class="card--body">
			<table class="table" id="js-admin_everything">
				<tr class="table--header">
					<th class="table--heading">index</th>
					<th class="table--heading">title</th>
					<th class="table--heading">url</th>
					<th class="table--heading">description</th>
					<th class="table--heading">tags</th>
					<th class="table--heading">added</th>
					<th class="table--heading">upvotes</th>
					<th class="table--heading">approved</th>
					<th class="table--heading">actions</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{{>bottom}}