{{>top}}

<h1>This is god mode.</h1>
<em>be careful</em>

<h2>All the things</h2>
<table id="js-admin_everything">
<tr>
	<th>index</th><th>title</th>
	<th>index</th>
	<th>url</th>
	<th>tags</th>
	<th>added</th>
	<th>upvotes</th>
	<th>approved</th>
	<th>caution</th>
</tr>

</table>

{{>bottom}}